*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Kanit', sans-serif;
}

.button-1{
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

.button-1:hover{
  background-color: #cccccc;
}

nav{
  display:flex;
  background-color: #000000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:0.5em;
}

.nav__logo{
  height: 1em;
  display: block;
}

.auth{
  display:flex;
  align-items: center;
  column-gap: 1em;
}

.auth__welcome{
  color: #ffffff;
}