*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Kanit', sans-serif;
}

nav{
  display:flex;
  background-color: #000000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:0.5em;
}

.nav__logo{
  height: 1em;
  display: block;
}

.auth{
  display:flex;
  align-items: center;
  column-gap: 1em;
}

.auth__welcome{
  color: #ffffff;
}

.auth-form{
  display:flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  right: 0;
  border: 1px solid black;
  border-top: none;
  padding: 1em;
}

.auth-form__signup, .auth-form__login{
  display:flex;
  flex-direction: column;
  gap: 1em;
}

.auth-form__message{
  color: red;
}