/* Global rules */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 55vw;
  margin: auto;
}

h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

* {
  list-style: none;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea {
  font-family: "Inter", sans-serif;
  padding: 0.5em;
  border: 1px solid #000000;
}

/* Page Header */

.page__header {
  padding: 4em;
  gap: 0.5em;
  color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000000;
  background-image: -moz-linear-gradient(45deg, #000000 0%, #767676 100%);
}

/* Buttons */

.basic-button {
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #001352;
  color: #001352;
  padding: 0.5em;
  border-radius: 0.2em;
  transition: 0.2s;
}

.basic-button:hover {
  background-color: #dadada;
}

.basic-button-2 {
  font-weight: bold;
  cursor: pointer;
  background-color: #001352;
  border: 1px solid #000000;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 0.2em;
  transition: 0.2s;
}

.basic-button-2:hover {
  background-color: #5c70b1;
}

.like-button,
.unlike-button {
  background-color: #001352;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  border-radius: 0.2em;
  transition: 0.2s;
}

.like,
.unlike {
  color: #e22d2d;
}

.delete-button {
  background-color: #c72e19;
  color: #ffffff;
  border: 1px solid #9b2d2d;
  padding: 0.5em;
  border-radius: 0.2em;
  transition: 0.2s;
}

.like-button:hover,
.unlike-button:hover {
  background-color: #5c70b1;
}

.delete-button:hover {
  background-color: #9b2d2d;
}

/* Searchbar */
.searchbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.2em;
}

.searchbar__dropdown {
  color: #ffffff;
  font-weight: bold;
  background-image: -moz-linear-gradient(45deg, #000000 0%, #767676 100%);
  border: 1px solid #000000;
  border-radius: 4px;
}

.searchbar__dropdown option {
  background-color: #ffffff;
  color: #000000;
}

.searchbar__input {
  flex: 1;
  border: none;
  outline: none;
}
.searchbar__submit {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 4px;
}

.searchbar__submit:hover {
  background-color: #0056b3;
}

/* Message */

.error-message {
  background-color: #ffa1a1;
  color: #830000;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

.success-message {
  background-color: #a1ffa9;
  color: #00832c;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

.info-message {
  background-color: #a1c9ff;
  color: #004a8f;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

/* Navbar & Nav Menu */
nav {
  width: 100%;
  top: 0;
  background-color: #000000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.logo {
  font-family: "Dela Gothic One", sans-serif;
  color: #ffffff;
  font-size: 1.5em;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: fit-content;
  border: 1px solid black;
  border-top: none;
  background-color: #ffffff;
}

.nav__menu li {
  padding: 0.5em 1em;
  transition: 0.2s;
  cursor: pointer;
}

.nav__menu li:hover {
  background-color: #dadada;
}

/* Search Bar */

.searchbar__dropdown {
  padding: 0.5em;
}

.searchbar__input {
  padding: 0.5em;
}

/* Auth */

.auth {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.auth__welcome {
  color: #ffffff;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  right: 0;
  border: 1px solid black;
  border-top: none;
  padding: 1em;
  background-color: #ffffff;
}

.auth-form__signup,
.auth-form__login,
.auth-form__reset-password {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.auth-form__message {
  color: red;
}

/* Tags */
.tag {
  color: #ffffff;
  border-radius: 0.25em;
  padding: 0.2em;
  transition: 0.2s;
  text-transform: lowercase;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
}

/*Admin Menu*/
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

thead {
  background-color: #000000;
  color: #ffffff;
}

td,
tr {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
}

/* Boards */
.board__header {
  background-image: -moz-linear-gradient(45deg, #000000 0%, #767676 100%);
  padding: 3em 2em 3em 2em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000000;
}

.board__header__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.board__header__right {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.board-card {
  padding: 4em;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-image: -moz-linear-gradient(45deg, #000000 0%, #767676 100%);
}
.boards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Posts */
.posts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post__actions {
  display: flex;
  gap: 0.2em;
}

.post-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #000000;
  background-color: #ffffff;
  transition: 0.2s;
}

.post-card__left {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}

.post-card__left__title {
  transition: 0.2s;
}

.post-card:hover {
  background-color: #f0f0f0;
}

.username {
  transition: 0.2s;
}

.username:hover,
.board-name:hover {
  color: #9e0091;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.stats {
  display: flex;
  align-items: center;
  gap: 1em;
}

.stat-icon {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

/* Comments */
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.comment__left {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment__actions {
  display: flex;
  gap: 0.2em;
}

/* Create Post Form */
.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.tag-details__name {
  text-transform: lowercase;
}

/* Footer */

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
  margin-top: 2em;
}

.footer-section {
  flex: 1 1 300px;
  border: 1px solid black;
  align-content: center;
}

.footer-links li,
.footer-subtitle {
  margin-bottom: 0.5rem;
}

.footer-links a {
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #9e0091;
}

/* Media query for medium screens */
@media (max-width: 1440px) {
  main {
    width: 80vw;
  }
}

/* Media query for tablets */
@media (max-width: 1024px) {
  main {
    width: 85vw;
  }
}

/* Media query for phones */
@media (max-width: 601px) {
  main {
    width: 95vw;
  }
}
